{% extends "home/layout.html" %}
{% load static %}


  {% block content %}
   <!-- Hero -->
   <section class="section-header bg-primary text-white pb-10 pb-sm-8 pb-lg-11">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-12 col-md-8 text-center">
               <h1 class="display-2 mb-4">Our Blog</h1>
               <p class="lead">Welcome to our blog — your go-to source for tech insights, project updates, and digital innovation tips. Stay inspired!</p>
            </div>
         </div>
      </div>
   </section>
   <section class="section section-lg line-bottom-light">
      <div class="container mt-n10 mt-lg-n12 z-2">
         <div class="row">
            <div class="col-lg-12 mb-5">
               <div class="card shadow bg-white border-gray-300 flex-lg-row align-items-center g-0 p-4">
                  <a href="{% url 'home:blog_single'  %}" class="col-12 col-lg-6"><img src="{% static 'assets/img/blog/eye.jpg' %}" alt="themesberg office" class="card-img-top rounded"></a>
                  <div class="card-body d-flex flex-column justify-content-between col-auto py-4 p-0 p-lg-3 p-xl-5">
                     <a href="{% url 'home:blog_single' %}">
                        <h2>The Year 2050 in 8K resolution, Welcome to the Future</h2>
                     </a>
                     <p>At Astra Softwares, we're constantly pushing boundaries to bring the future closer to today. One of the most exciting and transformative areas we're diving into is Quantum Machine Learning (QML)—an emerging discipline that blends the speed and complexity-handling power of quantum computing with the predictive intelligence of machine learning. <a href="{% url 'home:blog_single' %}"><span class="badge bg-tertiary"> Read More</span></a></p>
                     <div class="d-flex align-items-center mt-3">
                        <img class="avatar avatar-sm rounded-circle" src="{% static 'assets/img/team/hope.jpg' %}" alt="Kipkoech avatar">
                        <h3 class="h6 small ms-2 mb-0">Kipkoech Bett</h3>
                        <span class="h6 text-muted small fw-normal mb-0 ms-auto"><time datetime="2019-04-25">10 May, 2025</time></span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
               <div class="card shadow bg-white border-gray-300 p-4 rounded">
                  <a href="#"><img src="{% static 'assets/img/blog/code.png' %}" class="card-img-top rounded" alt="our desk"></a>
                  <div class="card-body p-0 pt-4">
                     <a href="#" class="h4">Empowering Future Coders: Our Partnership with Code.org</a>
                     <div class="d-flex align-items-center my-3">
                        <img class="avatar avatar-sm rounded-circle" src="{% static 'assets/img/team/ishmael.jpg' %}" alt="Ishmael avatar">
                        <h3 class="h6 small ms-2 mb-0">Ismael Kipkoech</h3>
                     </div>
                     <p class="mb-0">We’re proud to partner with Code.org to inspire the next generation of developers. Through this collaboration, we aim to make coding education more accessible, fun, and impactful for learners of all ages</p>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
               <div class="card shadow bg-white border-gray-300 p-4 rounded">
                  <a href="#"><img src="{% static 'assets/img/blog/fremax.png' %}" class="card-img-top rounded" alt="web desk"></a>
                  <div class="card-body p-0 pt-4">
                     <a href="#" class="h4">A Powerful Alliance: Our Partnership with Fremax Graphics</a>
                     <div class="d-flex align-items-center my-3">
                        <img class="avatar avatar-sm rounded-circle" src="{% static 'assets/img/team/samwel.jpg' %}" alt="Samwel avatar">
                        <h3 class="h6 small ms-2 mb-0">Samwel Khan</h3>
                     </div>
                     <p class="mb-0">Through this partnership, clients can now access a comprehensive digital and branding package under one roof.</p>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
               <div class="card shadow bg-white border-gray-300 p-4 rounded">
                  <a href="#"><img src="{% static 'assets/img/blog/image-1.jpg' %}" class="card-img-top rounded" alt="pixel room"></a>
                  <div class="card-body p-0 pt-4">
                     <a href="#" class="h4">Updates on the Portfolio Ready Program</a>
                     <div class="d-flex align-items-center my-3">
                        <img class="avatar avatar-sm rounded-circle" src="{% static 'assets/img/team/eliza.jpg' %}" alt="Elizabeth avatar">
                        <h3 class="h6 small ms-2 mb-0">Elizabeth Onyango</h3>
                     </div>
                     <p class="mb-0">We’re in the final stages of polishing the Portfolio Ready program! Stay tuned — the official launch date will be announced soon.</p>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
               <div class="card shadow bg-white border-gray-300 p-4 rounded">
                  <a href="#"><img src="{% static 'assets/img/blog/astrakilimo.png' %}" class="card-img-top rounded" alt="designer office"></a>
                  <div class="card-body p-0 pt-4">
                     <a href="#" class="h4">Introducing Astra Kilimo: Your Day-to-Day Farm Companion</a>
                     <div class="d-flex align-items-center my-3">
                        <img class="avatar avatar-sm rounded-circle" src="{% static 'assets/img/team/denis.jpg' %}" alt="Denis avatar">
                        <h3 class="h6 small ms-2 mb-0">Denis Pius</h3>
                     </div>
                     <p class="mb-0">Say hello to Astra Kilimo — your smart farming assistant designed to support everyday agricultural needs. From crop analysis to weather updates, Astra Kilimo helps farmers make informed decisions with ease.</p>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
               <div class="card shadow bg-white border-gray-300 p-4 rounded">
                  <a href="#"><img src="{% static 'assets/img/blog/astrasoft.png' %}" class="card-img-top rounded" alt="white laptop"></a>
                  <div class="card-body p-0 pt-4">
                     <a href="#" class="h4">Introducing Astra Pilot: Your Smart Project Co-Pilot</a>
                     <div class="d-flex align-items-center my-3">
                        <img class="avatar avatar-sm rounded-circle" src="{% static 'assets/img/team/hope.jpg' %}" alt="Hope avatar">
                        <h3 class="h6 small ms-2 mb-0">Bett Kipkoech</h3>
                     </div>
                     <p class="mb-0">Meet Astra Pilot — your intelligent project management assistant. From idea generation to execution planning, bug tracking, and documentation, Astra Pilot helps streamline your workflow every step of the way.</p>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
               <div class="card shadow bg-white border-gray-300 p-4 rounded">
                  <a href=""><img src="{% static 'assets/img/blog/q-tutor.jpg' %}" class="card-img-top rounded" alt="photoshop books"></a>
                  <div class="card-body p-0 pt-4">
                     <a href="#" class="h4">Introducing Q-Tutor: Your Quantum-Powered Coding Companion</a>
                     <div class="d-flex align-items-center my-3">
                        <img class="avatar avatar-sm rounded-circle" src="{% static 'assets/img/team/ishmael.jpg' %}" alt="Joseph avatar">
                        <h3 class="h6 small ms-2 mb-0">Kipkoech Bett</h3>
                     </div>
                     <p class="mb-0">Q-Tutor is here to revolutionize how you code — combining classical AI with quantum-enhanced suggestions for smarter debugging, code refactoring, and learning. Experience the future of pair programming today.</p>
                  </div>
               </div>
            </div>
            <div class="col-12">
               <div class="d-flex justify-content-center">
                  <nav aria-label="Page navigation example">
                     <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                     </ul>
                  </nav>
               </div>
            </div>
         </div>
      </div>
   </section>
  {% endblock %}
  