{% extends 'home/layout.html' %}
{% load static %}


{% block title %}
<title>Astra Softwares | Hiring {{ job.job_title }}</title>
{% endblock %}

{% block content %}

   <!-- Hero -->
   <section class="section-header pb-10 pb-lg-11 mb-4 mb-lg-6 bg-primary text-white">
   <div class="container">
      <div class="row justify-content-center">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-12 text-center mb-4 mb-lg-5">
               <h1 class="display-2 font-weight-extreme mb-4" id="job-title">{{ job.job_title }}</h1>
               <div class="d-flex flex-column flex-lg-row justify-content-center"><span class="h5 mb-3 mb-lg-0"><span class="fas fa-map-marker-alt"></span><span class="ms-3" id="location">{{ job.location }}</span></span> <span class="ms-lg-5 mb-3 mb-lg-0 h5"><span class="fas fa-user-tie"></span><span class="ms-3" id="employmentType">{{ job.employment_type }}</span></span> <span class="ms-lg-5 mb-3 mb-lg-0 h5"><span class="fas fa-file-invoice-dollar"></span><span class="ms-3" id="salary" >{{ job.salary }}K</span></span></div>
            </div>
            <div class="col col-12 text-center"><a href="{% url 'home:careers' %}#positions" class="btn btn-outline-dark text-white me-3" style="border: 1px solid #fff;" ><span class="fas fa-arrow-left me-2"></span>See All Jobs</a> <a href="https://forms.gle/QLBdvB54NUk9cUiP7" class="btn btn-tertiary"><span class="fas fa-clipboard-list me-2"></span>Apply Now</a></div>
         </div>
      </div>
      <div class="pattern bottom"></div>
   </section>
   <section class="section section-lg pt-0">
      <div class="container mt-n8 mt-lg-n11 z-2">
         <div class="row justify-content-center">
            <div class="col">
               <div class="card border-gray-300 p-3 p-md-5">
                  <p class="lead mb-5"><strong class="font-weight-extreme">{{ job.company }}</strong> {{ job.intro }}</p>
                  
                  <h2>Responsibilities:</h2>
                  <ul class="list-unstyled mb-5" id="responsibilities">
                     {% for item in responsibilities %}
                     <li class="py-3 lead">
                        <div class="d-flex">
                           <span class="icon icon-sm me-3"><span class="fas fa-arrow-alt-circle-right"></span></span>
                           <div>{{ item }}</div>
                        </div>
                     </li>
                     {% endfor %}
                  </ul>



                  <h2>Requirements:</h2>
                  <ul class="list-unstyled mb-5">
                     {% for item in requirements %}
                     <li class="py-3 lead">
                        <div class="d-flex">
                           <span class="icon icon-sm me-3"><span class="fas fa-plus-circle"></span></span>
                           <div>{{ item }}</div>
                        </div>
                     </li>
                     {% endfor %}
                  </ul>


                  <h2>We offer great benefits too!</h2>
                  <ul class="list-unstyled mb-5">
                      {% for item in benefits %}
                     <li class="py-3 lead">
                        <div class="d-flex">
                           <span class="icon icon-sm text-success me-3"><span class="fas fa-check-circle"></span></span>
                           <div>{{ item }}</div>
                        </div>
                     </li>
                     {% endfor %}
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </section>


   <!-- apply section -->
    <section class="section section-lg pt-0">
   <div class="col col-12 text-center"><a href="{% url 'home:careers' %}#positions" class="btn btn-dark text-white  me-3"><span class="fas fa-arrow-left me-2"></span>See All Jobs</a> <a href="https://forms.gle/QLBdvB54NUk9cUiP7" class="btn btn-tertiary"><span class="fas fa-clipboard-list me-2"></span>Apply Now</a></div>
   </section>


{% endblock %}
