{% extends 'home/layout.html' %}
{% load static %}


{% block title %}
<title>Astra Softwares | Job Opportunities</title>
{% endblock %}

{% block content %}

   <!-- Hero -->
   <section class="section-header pb-10 pb-lg-11 mb-4 mb-lg-6 bg-primary text-white">
   <div class="container">
      <div class="row justify-content-center">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-12 text-center mb-4 mb-lg-5">
               <h1 class="display-2 font-weight-extreme mb-4" id="job-title">{{ job.job_title }}</h1>
               <div class="d-flex flex-column flex-lg-row justify-content-center"><span class="h5 mb-3 mb-lg-0"><span class="fas fa-map-marker-alt"></span><span class="ms-3" id="location">{{ job.location }}</span></span> <span class="ms-lg-5 mb-3 mb-lg-0 h5"><span class="fas fa-user-tie"></span><span class="ms-3" id="employmentType">{{ job.employment_type }}</span></span> <span class="ms-lg-5 mb-3 mb-lg-0 h5"><span class="fas fa-file-invoice-dollar"></span><span class="ms-3" id="salary" >{{ job.salary }}K</span></span></div>
            </div>
            <div class="col col-12 text-center"><a href="{% url 'home:careers' %}" class="btn btn-outline-white text-white me-3"><span class="fas fa-arrow-left me-2"></span>See All Jobs</a> <a href="#apply" class="btn btn-tertiary"><span class="fas fa-clipboard-list me-2"></span>Apply Now</a></div>
         </div>
      </div>
      <div class="pattern bottom"></div>
   </section>
   <section class="section section-lg pt-0">
      <div class="container mt-n8 mt-lg-n11 z-2">
         <div class="row justify-content-center">
            <div class="col">
               <div class="card border-gray-300 p-3 p-md-5">
                  <p class="lead mb-5"><strong class="font-weight-extreme">{{ job.company }}</strong> {{ job.intro }}</p>
                  
                  <h2>Responsibilities:</h2>
                  <ul class="list-unstyled mb-5" id="responsibilities">
                     {% for item in responsibilities %}
                     <li class="py-3 lead">
                        <div class="d-flex">
                           <span class="icon icon-sm me-3"><span class="fas fa-arrow-alt-circle-right"></span></span>
                           <div>{{ item }}</div>
                        </div>
                     </li>
                     {% endfor %}
                  </ul>



                  <h2>Requirements:</h2>
                  <ul class="list-unstyled mb-5">
                     {% for item in requirements %}
                     <li class="py-3 lead">
                        <div class="d-flex">
                           <span class="icon icon-sm me-3"><span class="fas fa-plus-circle"></span></span>
                           <div>{{ item }}</div>
                        </div>
                     </li>
                     {% endfor %}
                  </ul>


                  <h2>We offer great benefits too!</h2>
                  <ul class="list-unstyled mb-5">
                      {% for item in benefits %}
                     <li class="py-3 lead">
                        <div class="d-flex">
                           <span class="icon icon-sm text-success me-3"><span class="fas fa-check-circle"></span></span>
                           <div>{{ item }}</div>
                        </div>
                     </li>
                     {% endfor %}
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="section section-lg pb-5 bg-gray-200">
      <div class="container">
         <div class="row justify-content-center mb-4 mb-lg-5">
            <div class="col">
               <h2 class="h2">Open positions</h2>
            </div>
         </div>
         <div class="row">
            <div class="col-12 col-xl-4 mb-4">
               <div class="card bg-white border-gray-300 p-3">
                  <div class="card-header bg-white border-0 p-3 p-md-4">
                     <h3 class="mb-3 h4">Backend Engineer</h3>
                     <div class="d-flex small"><a href="./career-single.html" class="text-gray"><span class="icon-primary"><i class="fas fa-map-marker-alt"></i></span><span class="ms-2">Chicago, IL</span></a> <span class="icon-primary ms-4"><span class="fas fa-user-tie"></span><span class="ms-2 text-gray">Full Time</span></span></div>
                  </div>
                  <div class="card-body px-2 px-md-4 pt-0">
                     <p class="mb-4">Integration of user-facing elements developed by a Themesberg-end developers with server side logic</p>
                     <div class="d-flex"><a href="./career-single.html#apply" class="btn btn-sm btn-tertiary me-3 animate-up-2 px-3">Apply Now</a> <a href="./career-single.html" class="btn btn-sm btn-primary animate-up-2 px-3"><i class="fas fa-clipboard-list me-2"></i>See Details</a></div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-xl-4 mb-4">
               <div class="card bg-white border-gray-300 p-3">
                  <div class="card-header bg-white border-0 p-3 p-md-4">
                     <h3 class="mb-3 h4">Account Manager</h3>
                     <div class="d-flex small"><a href="./career-single.html" class="text-gray"><span class="icon-primary"><i class="fas fa-map-marker-alt"></i></span><span class="ms-2">Boston, MS</span></a> <span class="icon-primary ms-4"><span class="fas fa-user-tie"></span><span class="ms-2 text-gray">Full Time</span></span></div>
                  </div>
                  <div class="card-body px-2 px-md-4 pt-0">
                     <p class="mb-4">Integration of user-facing elements developed by a Themesberg-end developers with server side logic</p>
                     <div class="d-flex"><a href="./career-single.html#apply" class="btn btn-sm btn-tertiary me-3 animate-up-2 px-3">Apply Now</a> <a href="./career-single.html" class="btn btn-sm btn-primary animate-up-2 px-3"><span class="fas fa-clipboard-list me-2"></span>See Details</a></div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-xl-4 mb-4">
               <div class="card bg-white border-gray-300 p-3">
                  <div class="card-header bg-white border-0 p-3 p-md-4">
                     <h3 class="mb-3 h4">PR Specialist</h3>
                     <div class="d-flex small"><a href="./career-single.html" class="text-gray"><span class="icon-primary"><span class="fas fa-map-marker-alt"></span></span><span class="ms-2">London, UK</span></a> <span class="icon-primary ms-4"><span class="fas fa-user-tie"></span><span class="ms-2 text-gray">Full Time</span></span></div>
                  </div>
                  <div class="card-body px-2 px-md-4 pt-0">
                     <p class="mb-4">Help maintain Baianat image, voice, identity and presence through online and offline channels.</p>
                     <div class="d-flex"><a href="./career-single.html#apply" class="btn btn-sm btn-tertiary me-3 animate-up-2 px-3">Apply Now</a> <a href="./career-single.html" class="btn btn-sm btn-primary animate-up-2 px-3"><span class="fas fa-clipboard-list me-2"></span>See Details</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
{% endblock %}
