{% extends "accounts/layout.html" %}
{% load static %}


{% block content %}
<section class="section p-0 min-vh-100 d-flex align-items-center justify-content-center">
   <div class="container">
      <div class="row d-flex align-items-center justify-content-between">
         <div class="col col-12 col-lg-6 text-dark order-2 order-lg-1">
            <div>
               <h1 class="display-2 mb-2">We're coming soon</h1>
               <p class="lead mb-4">Our website is <span class="text-italic">under construction</span>.</p>
               <div class="form-group mt-2">
                  <form action="#" method="post" class="d-flex flex-row justify-content-center">
                     <div class="input-group">
                        <input class="form-control form-control-xl" id="exampleInputEmail6" placeholder="Your email address" type="email" required="">
                        <div class="input-group-prepend"><button type="submit" class="btn btn-primary rounded-right">Subscribe</button></div>
                     </div>
                  </form>
               </div>
               <p class="small"><strong>Subscribe</strong> to be one of the first to use our intuitive platform.</p>
            </div>
         </div>
         <div class="col col-12 col-sm-10 col-md-8 col-lg-6 my-6 my-lg-0 mx-auto order-1 order-lg-2 d-none d-sm-block"><img class="img-fluid" src="{% static 'assets/img/illustrations/coming-soon.svg' %}" alt="people illustration"></div>
      </div>
   </div>
</section>
{% endblock %}
